@CHARSET "ISO-8859-1";

.x-tab-panel-body {
	border-right: 1px solid #8db2e3;
	border-left: 1px solid #8db2e3;
	border-bottom: 1px solid #8db2e3;
	__background: #dfe8f6;
	padding: 0pt;
}

.xwc-rows-row {
	font-family: tahoma, verdana, helvetica;
	font-size: small;
}

.xwc-tab {
	position: relative !important;
	overflow-y: auto;
}

.xwc-form-required {
	color: red;
}

.xwc-form-recommended {
	color: green;
}

.xwc-form-label {
	font-size: 12px;
}

.xwc-att-file {
	cursor: hand;
}

.x-fieldset {
	margin: 3px;
}

.gridRowUnRead {
	font-weight: bold;
}

.gridRowUnRead .x-grid3-cell-inner {
	font-weight: bold;
}

.xeoObjectLink .x-form-text {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.x-grid3-header-offset {
	width: 100px;
}

ul.x-tab-strip {
	width: 100%;
}

.x-grid3-hd-row td.ux-filtered-column {
	font-style: italic;
	font-weight: bold;
}

.x-item-disabled {
	color: black;
	cursor: default;
	opacity: .6;
	-moz-opacity: .6;
	filter: alpha(opacity = 60);
}

.x-item-disabled * {
	color: black !important;
	cursor: default !important;
}

.x-grid-group-tb DIV {
	background: white;
	background-image: '';
}

.x-grid-group-hd {
	border-bottom: 1px solid lightgray;
	font-color: black;
}

.x-grid3-group-icon {
	background-repeat: no-repeat;
	display: none;
	height: 16px;
	width: 16px;
	margin-left: 3px;
	vertical-align: middle;
}

.grid-group .x-grid3-group-icon {
	background-image: url(../images/grid/group-by.gif);
	display: inline;
}

/* Bridge Lookup CSS Classes */
.xwc-bridge-lookup {
	display: block;
	overflow-y: scroll;
}

a.xwc-search-trigger {
	width: 16px;
	height: 16px;
	text-decoration: none;
	background: url("../icons/add-lookup-bridge-sprite.png");
	display: block;
	cursor: pointer;
}

a.xwc-search-trigger:hover {
	background-position: -16px 0;
}

a.xwc-clean-trigger {
	width: 16px;
	height: 16px;
	text-decoration: none;
	background: url("../icons/remove-lookup-bridge-sprite.png");
	display: block;
	cursor: pointer;
}

a.xwc-clean-trigger:hover {
	background-position: -16px 0;
}

a.xwc-favorite-trigger {
	width: 16px;
	height: 16px;
	text-decoration: none;
	background: url("../icons/favorite-lookup-bridge.png");
	display: block;
	cursor: pointer;
}

a.xwc-favorite-trigger:hover {
	background-position: -16px 0;
}

/*For the special third button in AttributeNumber Lookup*/
.x-form-field-wrap .x-form-favorite-trigger {
	background-image: url(../icons/favorites-sprite.png);
	cursor: pointer;
}

/* For the Search-Lookup Trigger*/
.search-lookup-trigger {
	width: 17px;
	height: 21px;
	background-color: blue;
	background-image:
		url(../../extjs/images/default/form/search-trigger.gif);
	display: block;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.search-lookup-trigger:hover {
	background-position: -17px 0;
}

.search-lookup-trigger-click {
	background-position: -34px 0;
}

.search-lookup-clean-trigger {
	width: 17px;
	height: 21px;
	background-image: url(../../extjs/images/default/form/clear-trigger.gif);
	display: block;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.search-lookup-clean-trigger:hover {
	background-position: -17px 0;
}

.search-lookup-clean-trigger-click {
	background-position: -34px 0;
}

.search-lookup-favorite-trigger {
	width: 17px;
	height: 21px;
	background: url("../icons/favorites-sprite.png");
	display: block;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.search-lookup-favorite-trigger:hover {
	background-position: -17px 0;
}

.search-lookup-favorite-trigger-click {
	background-position: -34px 0;
}

.xwc-toolbar-label {
	color: black;
}

/* Grid Drag and Drop Support CSS Classes  */


/* Grouped Column not sorted */
.no_sort {
	display: inline;
	height: 4px;
	vertical-align: middle;
}

/* Grouped Column sorted ascending */
.sort_asc {
	background-image: url(../../extjs/resources/images/default/grid/sort_asc.gif);
	margin-left: 3px;
	width: 13px;
}

/* Grouped Column sorted descending */
.sort_desc {
	background-image: url(../../extjs/resources/images/default/grid/sort_desc.gif);
	margin-left: 3px;
	width: 13px;
}


/* Style applied to divider between groups */
.group_divider {
	width: 10px;
	height: 20px;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 4px;
	margin-right: 5px;
	padding-right: 4px;
	background-color: transparent;
}

/* Style applied when a dividir is being hovered (shows a small arrow to 
mean "drop here */
.group_dividir_hover {
	background-image: url(../images/drophere.png);
	background-repeat: no-repeat;
	vertical-align: bottom;
}

/* Style applied to the DIV */
.placeHolder {
	float: left;
	margin-top:8px;
}

/* These two styles allow to imitate the aspect of gridPanel columns */
.x-grid3-header-1 {
	font-family:arial, tahoma, helvetica, sans-serif;
	font-size:11px;
}
				
.x-grid3-header:hover {
	background: #ebf3fd;
	url( extjs/resources/images/default/grid/grid3-hrow-over.gif );
	repeat-x left bottom;
}

/* When a Grouped Column is disabled */
.xwc-disabled-group{
	color: #CCCCCC;
}

/* Background for the group toolbar (copied from ExtJS toolbar to be similar */
.xwc-group-toolbar-bg{
	background-image: url(extjs/resources/images/default/toolbar/bg.gif);
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-position-x: 0%;
	background-position-y: 0%;
	background-origin: initial;
	background-clip: initial;
	background-color: #D0DEF0;
}
