<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app>
	<description>XEO Application</description>
	<filter>
		<filter-name>boCharsetFilter</filter-name>
		<filter-class>netgest.bo.http.boCharsetFilter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>boCharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>netgest.bo.xwc.framework.http.XUILoginFilter</filter-class>
		<init-param>
			<param-name>LoginPage</param-name>
			<param-value>Login.xvw</param-value>
		</init-param>
		<init-param>
			<param-name>MainPage</param-name>
			<param-value>Main.xvw</param-value>
		</init-param>
		<init-param>
			<param-name>ShowUserProfiles</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<servlet>
		<servlet-name>XWC Servlet</servlet-name>
		<servlet-class>netgest.bo.xwc.framework.http.XUIServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<filter>
		<filter-name>DeployFilter</filter-name>
		<filter-class>netgest.bo.http.DeployFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DeployFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.xvw</url-pattern>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>XWC Servlet</servlet-name>
		<url-pattern>*.xeoviewer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XWC Servlet</servlet-name>
		<url-pattern>*.xvw</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<listener>
		<listener-class>netgest.bo.xwc.framework.http.XUISessionListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>22</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>Login.xvw</welcome-file>
	</welcome-file-list>
	<ejb-ref>
		<ejb-ref-name>ejb/boClientRemote</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.ejb.boClientRemoteHome</home>
		<remote>netgest.bo.ejb.boClientRemote</remote>
		<ejb-link>boClientRemote</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/GarbageRemover</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>GarbageRemover</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/TemplateTextIndexAgent</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>TemplateTextIndexAgent</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/boQueueAgent</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>boQueueAgent</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/boScheduleAgent</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>boScheduleAgent</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/boScheduleThread</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.boScheduleThreadEJBHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.boScheduleThreadEJB</remote>
		<ejb-link>boScheduleThread</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/boSessionCleanAgent</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>boSessionCleanAgent</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/boTextIndexAgent</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>boTextIndexAgent</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/xwfActivityRobot</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>xwfActivityRobot</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/xwfTimeAgent</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
		<remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
		<ejb-link>xwfTimeAgent</ejb-link>
	</ejb-ref>
</web-app>
